/* ===========================
   FOOTER TOP
=========================== */

.footer-top {
    background-color: #c85d32;

    color: white;

    padding: 60px 80px;

    text-align: center;
}

.footer-top h2 {
    font-size: 2rem;

    margin-bottom: 50px;
}

.footer-features {
    display: flex;

    justify-content: center;

    gap: 60px;

    flex-wrap: wrap;
}

.feature {
    max-width: 300px;
}

.feature h3 {
    margin-bottom: 15px;

    font-size: 1.3rem;
}

.feature p {
    line-height: 1.6;
}

/* ===========================
   FOOTER BOTTOM
=========================== */

.footer-bottom {
    background-color: #102027;

    color: white;

    padding: 50px 80px;

    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    gap: 40px;
}

.footer-bottom div {
    min-width: 150px;
}

.footer-bottom h4 {
    margin-bottom: 15px;

    font-size: 1.2rem;
}

.footer-bottom p {
    margin-bottom: 10px;

    cursor: pointer;

    transition: color 0.3s ease;
}

.footer-bottom p:hover {
    color: #7dd3fc;
}

/* ===========================
   COPYRIGHT
=========================== */

.footer-copyright {
    background-color: #0b161c;

    color: white;

    text-align: center;

    padding: 15px;

    font-size: 0.9rem;
}