/* Remove default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 60px;

    background-color: #1e293b;
    color: white;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Logo */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

/* Navigation List */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* Navigation Links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

    transition: color 0.3s ease;
}

/* Hover Effect */
.nav-links a:hover {
    color: #38bdf8;
}

.cart-container {
    position: relative;
    list-style: none;
}

.cart-container a {
    position: relative;
    display: inline-block;
    color: white;
}

.cart-icon {
    font-size: 24px;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -10px;

    width: 18px;
    height: 18px;

    background-color: black;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px;
    font-weight: bold;
}